@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-Nunito:'Nunito Sans';

	/* Light Theme */
  --color-Light-Mode-Text:hsl(200, 15%, 8%);
  --color-Light-Mode-Input:hsl(0, 0%, 50%);
  --color-Light-Mode-Background:hsl(233, 11%, 95%);
  
  /*Dark Theme */
  --color-Dark-Mode-Elements:hsl(209, 23%, 22%);
  --color-Dark-Mode-Background:hsl(207, 26%, 17%);

}
